@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This privacy policy is for demonstration purposes only and does not reflect actual privacy practices.
</p>
